.player-container {
    width: 450px;
    margin: 10px 10px 10px 10px;
    background-color: var(--pale-purple);
    border-radius: 5px;
    display: inline-flex;
}

.player-icon {
    cursor: pointer;
    margin: 2px;
    color: white;
}

.player-icon:hover {
    color: var(--purple);
}

.music-name {
    cursor: pointer;
    margin: 5px;
    color: white;
    float: left;
    width: 300px;
    /* text-overflow: ellipsis; -- Reticências ao final de um text longo demais.*/ 
    white-space: nowrap;
    height: 20px;
    overflow-x: auto;
}

.music-name::-webkit-scrollbar {
    display: none;
}
  