@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --purple: #4D2482;
  --red: #A40A0A;
  --green: #1BA420;
  --blue: #027DC2;
}

body {
  font-family: 'Montserrat', sans-serif;
}